# ==========================================
# Team-Pulse Dashboard (Member 5 & Docker Setup)
# ==========================================

PORT=5005
NODE_ENV=development
CLIENT_URL="http://localhost:5173"
